header {
  text-align: center;
  height: 90vh;
  .header-text {
    padding-top: 200px;
    color: $color1 ;
    h1 {
        text-transform: uppercase;
        font-size: 6rem;
        margin-bottom: 20px;
      }
    p{
        font-style: italic;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        margin-bottom: 50px;
    }
    i{
        font-size: 70px;
    }
  }
  
}
